<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <main>
                <section class="abm-inventory container">
                    <h2 class="abm-title-inv">Carrito</h2>
                    <div class="abm-inventory-wrapper carritoWrapper">
                        <div class="carrito-product-container">
                
                 <h1 class="carritoVacio" <%if (sum) { %> style="display: none;" <% } %> >¡Tu carrito esta vacío!</h1>

                            <% orders.forEach(order=> { %>
                                <div class="productoCarrito">
                                    <img src="\upload\products/<%=order.image%>" alt="rose"
                                        class="imagenProductoCarrito">

                                    <div class="nombreProductoCarrito">
                                        <div>
                                        <div class="vinoLineaCarrito"><%=order.name%></div>
                                        <div class="wineryCarrito"><%=order.winery%></div>
                                        <div class="precioCarrito">$<%=order.price%></div>
                                        </div>

                                        <div class="sumadorTrash">

                                        <div>
                                            <form class="cajaSumadoraCarrito">
                                                <input type="submit" value="-" class="minus"><input type="tel" value="<%=order.quantity%>" name="sumador" class="sumadorCarrito" maxlength="2" id="sumador" step="1" min="1"><input type="submit" value="+" class="plus"> 

                                            </form>
                                            </div>
                                                    <form action="/productos/carrito/<%=order.association_id%>/delete?_method=DELETE" method="POST">
                                                    <button type="submit" class="trashIcon"><i class="far fa-trash-alt"></i></button>
                                                </form>
                                            

                                        </div>
                                    </div>
                                </div>

                            <% }) %> 
                        </div>

                            <div class="sticky-total" <%if (!sum) { %> style="display: none;" <% } %>>

                                <div> <h2 class="resumenTitle">Resumen</h1></div>

                                    <% orders.forEach(order=> { %>

                                    <div class="itemResumen">

                                        <div class="nombreCantidadResumen">
                                        <div class="nombreResumen"><%=order.name%></div>
                                        <div>Cantidad:<%=order.quantity%></div>
                                        </div>

                                    <div class="subtotalResumen">$<%= order.price * order.quantity%> </div>

                                    </div>
                                    <div class="hrResumen">
                                        <hr>
                                    </div>

                                    <% }) %> 

                                    
                                    <div class="itemResumenLast">

                                        <div class="totalResumen">
                                        Total
                                        </div>

            

                                    <div class="totalResumen"><%= sum ? sum : "00.-"%></div>
                              
                                </div>
                            
                            
                            
                            <section class="botones-carrito">
                                 <form action="/productos/carrito/<%= orders && sum ? orders[0].user_id : " "%>/comprar?_method=PUT" method="POST">
                                <button class="finalizarCompra">Finalizar compra</button>
                            </form>
                            </section>

                            </div>
                    </div>
                </section>
            </main>
            <main>
                <%- include('../partials/footer') %>
    <script src="/javascript/js-front.js"  type="text/javascript"></script>
               
    </body>

</html>