<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <main>
                <section class="abm-inventory container">
                    <h2 class="abm-title-inv">Carrito</h2>
                    <div class="abm-inventory-wrapper carritoWrapper">
                        <div class="carrito-product-container">
                            <% if(orders == [] && sum == []) { %>
                            <h1>Tu carrito esta vacío!</h1>
                            <% } %> 

                            <% orders.forEach(order=> { %>
                                <div class="productoCarrito">
                                    <img src="\upload\products/<%=order.image%>" alt="rose"
                                        class="imagenProductoCarrito">

                                    <div class="nombreProductoCarrito">
                                        <div>
                                        <div class="vinoLineaCarrito"><%=order.name%></div>
                                        <div class="wineryCarrito"><%=order.winery%></div>
                                        <div class="precioCarrito">$<%=order.price%></div>
                                        </div>

                                        <div class="sumadorTrash">

                                        <div class="cajaSumadoraCarrito">
                                            <input type="button" value="-" class="minus"> <input type="tel" value="<%=order.quantity%>"
                                                name="sumador" class="sumadorCarrito" maxlength="1" step="1" min="1" max=""><input
                                                type="button" value="+" class="plus">
                                            </div>
                                                <div>
                                                    <form action="/productos/carrito/<%=order.order_id%>/delete?_method=DELETE" method="POST">
                                                    <input type="submit" name="trashIcon" id="trashIcon" class="trashButtonCarrito" style="display:none;">
                                                    <label for="trashIcon"><i class="far fa-trash-alt"></i></label>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <% }) %> 

                        </div>
                        <div style="position: relative;">
                            <div class="sticky-total">

                                <div> <h2 class="resumenTitle">Resumen</h1></div>

                                    <% orders.forEach(order=> { %>

                                    <div class="itemResumen">

                                        <div class="nombreCantidadResumen">
                                        <div class="nombreResumen"><%=order.name%></div>
                                        <div>Cantidad:<%=order.quantity%></div>
                                        </div>

                                        <div class="subtotalResumen">$<%= order.price * order.quantity%> %></div>

                                    </div>
                                    <div class="hrResumen">
                                        <hr>
                                    </div>

                                    <% }) %> 

                                    
                                    <div class="itemResumenLast">

                                        <div class="totalResumen">
                                        Total
                                        </div>

            

                                        <div class="totalResumen"><%= sum ? sum : "00-"%></div>
                                
                                    </div>
                                
                                
                                
                                <section class="botones-carrito">
                                    <form action="/productos/carrito/<%= orders && sum ? orders[0].user_id : ""%>/comprar?_method=PUT" method="POST">
                                    <button class="finalizarCompra">Finalizar compra</button>
                                </form>
                                </section>

                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <main>
                <%- include('../partials/footer') %>
    </body>

</html>