<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="detalleProducto">
        <article class="imagenesProducto">
            <div class="imagenPrincipal">
                <img src="\upload\products/<%=product.image%>" alt="<%= product.name %>" >
            </div>
        </article>
        <article class="contenedorTexto">
            <div class="textoProducto">
                <h2 class="tituloProducto"><%=product.name%></h2>
            <span class="marcaLinea marcaDP"><%=product.winery.name%></span>
            <p class="precioDP">$<%=product.price%>.-</p>   
            <p class="descripcionDP"><%=product.description%></p>
            <span class='categoriasPC'>Categoria: </span>
            <span class="categoriasPCC">
                <% for (let i=0; i < product.dataValues.categories.length; i++) { %>
                    <%= product.dataValues.categories[i]%>
                <% } %>   
            </span><br>
            <span class='categoriasPC'>Varieltal: </span>
            <span class="categoriasPCC">
                <% for (let i=0; i < product.dataValues.varietals.length; i++) { %>
                    <%= product.dataValues.varietals[i]%>
                <% } %>  
            </span>

            
                
            </div>
            <div class="iconosProducto">
                <div class="cajaSumadora">
                    <input type="button" value="-" class="minus"> <input type="tel" value="1" name="sumador" class="sumador" maxlength="1" step="1" min="1" max=""><input type="button" value="+" class="plus">
                </div>
                <form action="/productos/carrito/<%=product.id%>" method="POST">
                <button class="agregarCarrito">AGREGAR AL CARRITO</button>
                </form>
        </article>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>