<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="page-title">
            <img src="/images/page-title-img.jpg" alt="Tienda" class="page-title-img">
            <div class="container">
                <div class="page-title-desc">
                    <h1 style="color:#ffffff;">PRODUCTOS</h1>
                </div>
            </div>
        </div>
        <section class="container">
            <div class="product-grid">
                <% products.forEach(product => { %>
                <article class="product-grid-item">
                    <a href="/productos/detalle/<%= product.id %>">
                        <img src="/upload/products/<%= product.image %>" alt="<%= product.name %>" class="product-grid-img">
                        <h4><%= product.name %></h4>
                        <p class="product-grid-title">$<%= product.price %></p>
                    </a>
                    <form action="/productos/carrito/<%=product.id%>" method="POST" class="button-wrap">
                        <button class="product-grid-button">AGREGAR AL CARRITO</button>
                    </form>
                </article>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>