<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <main>
                <section class="abm-inventory container">
                    <h2 class="abm-title-inv">Pago</h2>
                    <div class="abm-inventory-wrapper carritoWrapper1">
                    <form action="/productos/carrito/<%=orderId%>/comprar" method="GET">

                        <div class="abm-input-container">
                            <div class="abm-input-wrap">
                                <label for="first_name" class="abm-input-tit">Número de tarjeta<i class="far fa-credit-card" style="margin-left: 6px;"></i></label>
                                <input type="text" name="first_name" id="first_name" placeholder="1234 5678 9012 3456" class="abm-input" value="<%= locals.oldData ? oldData.first_name :"" %>">
                                <% if(locals.errors && errors.first_name) { %> 
                                    <p class="abm-input-error"><%= errors.first_name.msg %> </p> 
                                <% } %> 
                            </div>
                            <div class="abm-input-wrap">
                                <label for="last_name" class="abm-input-tit">Caducidad</label>
                                <input type="text" name="last_name" id="last_name" placeholder="MM/YY" class="abm-input" value="<%= locals.oldData ? oldData.last_name : "" %>">
                                <% if(locals.errors && errors.last_name) { %> 
                                    <p class="abm-input-error"><%= errors.last_name.msg %> </p> 
                                <% } %> 
                            </div>
                            <div class="abm-input-wrap">
                                <label for="last_name" class="abm-input-tit">Titular</label>
                                <input type="text" name="last_name" id="last_name" placeholder="Titular" class="abm-input" value="<%= locals.oldData ? oldData.last_name : "" %>">
                                <% if(locals.errors && errors.last_name) { %> 
                                    <p class="abm-input-error"><%= errors.last_name.msg %> </p> 
                                <% } %> 
                            </div>
                            <div class="abm-input-wrap">
                                <label for="last_name" class="abm-input-tit">Código de seguridad</label>
                                <input type="text" name="last_name" id="last_name" placeholder="CVV" class="abm-input" value="<%= locals.oldData ? oldData.last_name : "" %>">
                                <% if(locals.errors && errors.last_name) { %> 
                                    <p class="abm-input-error"><%= errors.last_name.msg %> </p> 
                                <% } %> 
                            </div>

                            
                            
                            
                            
                        </div>
                        <div class="abm-button-continuar">
                            <button type="submit" class="abm-button-submit">Pagar</button>
                        </div>
                            </form>
                        </div>
                </section>
            </main>
            <main>
                <%- include('../partials/footer') %>               
    </body>

</html>