<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="hero-banner">
            <img src="/images/header-banner-img.jpg" alt="Promo Otoño" class="hero-banner-img">
            <div class="container">
                <div class="hero-banner-desc">
                    <h1>Vinos Orgánicos, Naturales<br>y Biodinámicos</h1>
                    <p>Elegimos apoyar a los productores que trabajan la tierra con prácticas Orgánicas y Biodinámicas.</p>
                </div>
            </div>
        </div>
        <section id="cultivos" class="container">
            <article class="cultivos-wrapper">
                <img src="/images/vinos-biodinamicos.jpg" alt="Vinos Biodinámicos" class="cultivos-img">
                <a href="#" class="cultivos-title">
                    <h3>Vinos Biodinámicos</h3>
                </a>
            </article>
            <article class="cultivos-wrapper">
                <img src="/images/vinos-organicos.jpg" alt="Vinos Orgánicos" class="cultivos-img">
                <a href="#" class="cultivos-title">
                    <h3>Vinos Orgánicos</h3>
                </a>
            </article>
            <article class="cultivos-wrapper">
                <img src="/images/vinos-naturales.jpg" alt="Vinos Naturales" class="cultivos-img">
                <a href="#" class="cultivos-title">
                    <h3>Vinos Naturales</h3>
                </a>
            </article>
        </section>
        <section id="recomendados" class="container">
            <h2>Nuestros Recomendados</h2>
            <div class="divider"></div>
            <div class="product-grid">
                <% product.forEach(product => { %>
                <article class="product-grid-item">
                    <a href="/productos/detalle/<%= product.id %>">
                        <img src="/upload/products/<%= product.image %>" alt="<%= product.name %>" class="product-grid-img">
                        <h4><%= product.name %></h4>
                        <p class="product-grid-title">$<%= product.price %>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a> 
                </article>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
    <script src="/javascript/js-front.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="/javascript/dialogbox.js"  type="text/javascript"></script>
</body>
</html>