<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="hero-banner">
            <img src="/images/header-banner-img.jpg" alt="Promo Otoño" class="hero-banner-img">
            <div class="container">
                <div class="hero-banner-desc">
                    <h1>Vinos Orgánicos, Naturales<br>y Biodinámicos</h1>
                    <p>Elegimos apoyar a los productores que trabajan la tierra con prácticas Orgánicas y Biodinámicas.</p>
                </div>
            </div>
        </div>
        <section id="cultivos" class="container">
            <article class="cultivos-wrapper">
                <img src="/images/vinos-biodinamicos.jpg" alt="Vinos Biodinámicos" class="cultivos-img">
                <a href="#" class="cultivos-title">
                    <h3>Vinos Biodinámicos</h3>
                </a>
            </article>
            <article class="cultivos-wrapper">
                <img src="/images/vinos-organicos.jpg" alt="Vinos Orgánicos" class="cultivos-img">
                <a href="#" class="cultivos-title">
                    <h3>Vinos Orgánicos</h3>
                </a>
            </article>
            <article class="cultivos-wrapper">
                <img src="/images/vinos-naturales.jpg" alt="Vinos Naturales" class="cultivos-img">
                <a href="#" class="cultivos-title">
                    <h3>Vinos Naturales</h3>
                </a>
            </article>
        </section>
        <section id="recomendados" class="container">
            <h2>Nuestros Recomendados</h2>
            <div class="divider"></div>
            <div class="product-grid">
                <% recommendeds.forEach(product => { %>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/upload/products/<%= product.image %>" alt="<%= product.product_name %>" class="product-grid-img">
                        <h4><%= product.product_name %></h4>
                        <p class="product-grid-title">$<%= product.price %></p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a> 
                </article>
                <% }) %>
                <!-- <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr1-home.jpg" alt="Stutz Tannat" class="product-grid-img">
                        <h4>Stutz Tannat</h4>
                        <p class="product-grid-title">$ 750</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a>
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr4-home.jpg" alt="Hippie Love Blanco" class="product-grid-img">
                        <h4>Hippie Love Blanco</h4>
                        <p class="product-grid-title">$ 1700</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a>
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                        <h4>Cosmic Amber</h4>
                        <p class="product-grid-title">$ 1500</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a> 
                </article> -->
            </div>
        </section>
        <!-- <section id="ads-banner" class="container">
            <div class="ads-banner-wrapper">
                <img src="/images/vino-nr1-home.jpg" alt="Vinos Naturales">
                <div>
                    <p>CATENA ZAPATTA</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">VER MÁS</a></div> 
                </div>
            </div>
        </section> -->
    </main>
    <%- include('./partials/footer') %>
</body>
</html>