<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/bo-header') %>
    <main>
        <section class="abm-productos container">
            <div class="abm-producto-wrapper">
                <h2 class="abm-title">Crear Usuario</h2>

                    <form action="/admin/crear-usuario" class="abm-form-wrapper" enctype="multipart/form-data" method="POST" >
                        <div class="abm-input-container">
                            <div class="abm-input-wrap">
                                <label for="first_name" class="abm-input-tit">Nombre</label>
                                <input type="text" name="first_name" id="first_name" placeholder="Nombre" class="abm-input <%= locals.errors && errors.first_name ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.first_name : null %>" > 
                                <% if(locals.errors && errors.first_name) { %> 
                                    <p class="abm-input-error"><%= errors.first_name.msg %> </p> 
                                <% } %> 
                            </div>
                            <div class="abm-input-wrap">
                                <label for="last_name" class="abm-input-tit">Apellido</label>
                                <input type="text" name="last_name" id="last_name" placeholder="Apellido" class="abm-input <%= locals.errors && errors.last_name ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.last_name : null %>" >
                                <% if(locals.errors && errors.last_name) { %> 
                                    <p class="abm-input-error"><%= errors.last_name.msg %></p> 
                                <% } %>
                            </div>
                            <div class="abm-input-wrap-email">
                                <label for="email" class="abm-input-tit">Email</label>
                                <input type="text" name="email" id="email" placeholder="E-mail" class="abm-input <%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null %>" >
                                <% if(locals.errors && errors.email) { %> 
                                    <p class="abm-input-error"><%= errors.email.msg %></p>
                                <% } %>
                            </div>
                            <div class="abm-input-wrap">
                                <label for="password" class="abm-input-tit">Contrase単a</label>
                                <input type="password" name="password" id="password" placeholder="Contrase単a" class="abm-input <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                                <% if(locals.errors && errors.password) { %> 
                                    <p class="abm-input-error"><%= errors.password.msg %></p>
                                <% } %>
                            </div>     
                            <!--<div class="abm-input-wrap">
                                <label for="password" class="abm-input-tit"> Repetir Contrase単a</label>
                                <input type="password" id="password" placeholder="Contrase単a" class="abm-input">
                            </div>-->
                            <div class="abm-input-wrap">
                                <label for="image" class="abm-input-tit">Subir imagen</label>
                                <input type="file" name="image" id="image" placeholder="Subir imagen" class="abm-input">
                                <% if(locals.errors && errors.image) { %>
                                    <p class="abm-input-error"><%= errors.image.msg %> </p>
                                <% } %>
                            </div>
                        </div>
                        <div class="abm-button-wrap">
                            <button type="submit" class="abm-button-submit">ENVIAR</button>
                        </div>
                    </form>
            </div>
        </section>
    </main>
    <%- include('../partials/bo-footer') %>
</body>
</html>