<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/bo-header') %>
    <main>
        <section class="abm-productos container">
            <div class="abm-producto-wrapper">
                <h2 class="abm-title">Editar Usuario</h2>
                <form action="/admin/<%=user.id%>/editar-usuario?_method=PUT" method="POST" enctype="multipart/form-data" class="abm-form-wrapper">
                    <div class="abm-input-container">
                        <div class="abm-input-wrapper">
                            <div class="abm-input-wrap full-width">
                                <label for="first_name" class="abm-input-tit">Nombre</label>
                                <input type="text" name="first_name" id="first_name" placeholder="Nombre" class="abm-input" value="<%= locals.oldData ? oldData.first_name : user.name%>">
                                <% if(locals.errors && errors.first_name) { %> 
                                    <p class="abm-input-error"><%= errors.first_name.msg %> </p> 
                                <% } %> 
                            </div>
                            <div class="abm-input-wrap full-width">
                                <label for="last_name" class="abm-input-tit">Apellido</label>
                                <input type="text" name="last_name" id="last_name" placeholder="Apellido" class="abm-input" value="<%= locals.oldData ? oldData.last_name : user.last_name%>">
                                <% if(locals.errors && errors.last_name) { %> 
                                    <p class="abm-input-error"><%= errors.last_name.msg %> </p> 
                                <% } %> 
                            </div>
                        </div>
                        <div class="abm-input-wrapper right">
                            <div class="abm-input-profile full-width">
                                <div class="abm-img-user-wrap">
                                    <img src="/upload/profile-pictures/<%=user.image %>" alt="<%= user.name %>" class="abm-img-profile">
                                    <div class="flex-image-edituser"> 
                                    <input type="file" name="image" id="image" class="abm-input" style="display:none;">
                                    <label for="image" class="abm-button-submit cambiarimagen-button"> Cambiar imagen</label>
                                    <% if(locals.errors && errors.image) { %>
                                        <p class="abm-input-error"><%= errors.image.msg %> </p>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="abm-input-container">
                        <div class="abm-input-wrap">
                            <label for="email" class="abm-input-tit">Email</label>
                            <input type="text" name="email" id="email" placeholder="Email" class="abm-input" value="<%= locals.oldData ? oldData.email : user.email%>">
                            <% if(locals.errors && errors.email) { %> 
                                <p class="abm-input-error"><%= errors.email.msg %> </p> 
                            <% } %> 
                        </div>
                        <div class="abm-input-wrap">
                            <label for="role" class="abm-input-tit">Role</label>
                            <select name="role" id="role" class="abm-input">
                               <option value=""> Seleccione Role</option>
                                <option value= "admin" <% if (locals.oldData && oldData.role == 'admin') { %> selected <%} else{ %> <%=user.roles.name == 'admin' ? 'selected' : "" %><%} %> >admin</option>
                                <option value= "visitor" <% if (locals.oldData && oldData.role == 'visitor') { %> selected <%} else{ %> <%=user.roles.name == 'visitor' ? 'selected' : "" %><%} %>  > visitor</option>
                            </select>
                            <% if(locals.errors && errors.role) { %> 
                                <p class="abm-input-error"><%= errors.role.msg %> </p> 
                            <% } %> 
                        </div>
                    </div>
                    <div class="abm-input-container">
                        <div class="abm-input-wrap">
                            <label for="password" class="abm-input-tit">Contraseña</label>
                            <input type="password" name="password" id="password" placeholder="Contraseña" class="abm-input"  value="">
                            <% if(locals.errors && errors.password) { %> 
                                <p class="abm-input-error"><%= errors.password.msg %></p>
                            <% } %>
                        </div>     
                        
                        <% if (user.addresses.length > 0) { %> 
                        <div class="abm-input-wrap selectorAddress invisibleSelector" >
                            <label for="address" class="abm-input-tit">Direcciones</label>
                            <select name="address" id="address" class="abm-input">
                                <option value="">Seleccione dirección para editar</option>
                                <% for (let i = 0; i < user.addresses.length; i++) { %>
                                    <option value="<%=user.addresses[i].id%>" class="edit-address-option" id="<%=`${user.addresses[i].id}edit`%>">
                                         <%=user.addresses[i].street %> <%=user.addresses[i].apartment %> <%=user.addresses[i].district %> <%=user.addresses[i].city %> <%=user.addresses[i].zip_code %> <%=user.addresses[i].state %><i class="fas fa-female"></i>
                                    </option>
                                    <%}%>
                            </select> 
                            <% if (locals.errors && errors.address) { %>
                                <p class="abm-input-error"><%= errors.address.msg %></p>
                            <% } %> 
                        </div>
                        <%}%>

                       
                    </div>

                        <div class="addressInvisible-edit">
                            <div class="address-input-container">
                            <div class="abm-input-wrap">
                                <label for="calle_numero_edit" class="abm-input-tit">Calle y numero</label>
                                <input type="text" name="calle_numero_edit" id="calle_numero_edit" placeholder="Calle y numero" class="abm-input">
                                <% if(locals.errors && errors.calle_numero_edit) { %>
                                    <p class="abm-input-error"><%= errors.calle_numero_edit.msg %> </p>
                                <% } %>  
                            </div>
                                <div class="abm-input-wrap">
                                    <label for="departamento_edit" class="abm-input-tit">Departamento</label>
                                    <input type="text" name="departamento_edit" id="departamento_edit" placeholder="Departamento" class="abm-input"value="<%=locals.oldData ? oldData.departamento_edit : "" %>">
                                    <% if(locals.errors && errors.departamento_edit) { %>
                                        <p class="abm-input-error"><%= errors.departamento_edit.msg %> </p>
                                    <% } %>   
                                </div>
                                <div class="abm-input-wrap">
                                <label for="codigo_postal_edit" class="abm-input-tit">Codigo Postal</label>
                                <input type="text" name="codigo_postal_edit" id="codigo_postal_edit" placeholder="Codigo Postal" class="abm-input"value="<%=locals.oldData ? oldData.codigo_postal_edit : ""%>">
                                <% if(locals.errors && errors.codigo_postal_edit) { %>
                                    <p class="abm-input-error"><%= errors.codigo_postal_edit.msg %> </p>
                                <% } %>   
                            </div>
                            <div class="abm-input-wrap">
                                <label for="barrio_edit" class="abm-input-tit">Barrio</label>
                                <input type="text" name="barrio_edit" id="barrio_edit" placeholder="Barrio" class="abm-input"value="<%=locals.oldData ? oldData.barrio_edit : ""%>">
                                <% if(locals.errors && errors.barrio_edit) { %>
                                    <p class="abm-input-error"><%= errors.barrio_edit.msg %> </p>
                                <% } %>   
                            </div>
                                <div class="abm-input-wrap">
                                <label for="ciudad_edit" class="abm-input-tit">Ciudad</label>
                                <input type="text" name="ciudad_edit" id="ciudad_edit" placeholder="Ciudad" class="abm-input"value="<%=locals.oldData ? oldData.ciudad_edit : ""%>">
                                <% if(locals.errors && errors.ciudad_edit) { %>
                                    <p class="abm-input-error"><%= errors.ciudad_edit.msg %> </p>
                                <% } %>   
                            </div>
                                <div class="abm-input-wrap">
                                <label for="provincia_edit" class="abm-input-tit">Provincia</label>
                                <input type="text" name="provincia_edit" id="provincia_edit" placeholder="Provincia" class="abm-input"value="<%=locals.oldData ? oldData.provincia_edit : ""%>">
                                <% if(locals.errors && errors.provincia_edit) { %>
                                    <p class="abm-input-error"><%= errors.provincia_edit.msg %> </p>
                                <% } %>   
                            </div>
                            </div>
                        </div>
                        <div class="abm-input-wrap-cargarDireccion cargarDireccion" style="width: 250px;">
                            <div class="abm-input-tit cursorAllign">Cargar nueva dirección (+)</div>
                            </div>

<input type="text" style="display: none;" id="userID" value="<%=user.id%>">

                            <div class="addressInvisible">
                                <div class="address-input-container">
                                <div class="abm-input-wrap">
                                    <label for="calle_numero" class="abm-input-tit">Calle y numero</label>
                                    <input type="text" name="calle_numero" id="calle_numero" placeholder="Calle y numero" class="abm-input"value="<%=locals.oldData ? oldData.calle_numero : user.street %>">
                                    <% if(locals.errors && errors.calle_numero) { %>
                                        <p class="abm-input-error"><%= errors.calle_numero.msg %> </p>
                                    <% } %>  
                                </div>
                                    <div class="abm-input-wrap">
                                        <label for="departamento" class="abm-input-tit">Departamento</label>
                                        <input type="text" name="departamento" id="departamento" placeholder="Departamento" class="abm-input"value="<%=locals.oldData ? oldData.departamento : user.apartment %>">
                                        <% if(locals.errors && errors.departamento) { %>
                                            <p class="abm-input-error"><%= errors.departamento.msg %> </p>
                                        <% } %>   
                                    </div>
                                    <div class="abm-input-wrap">
                                    <label for="codigo_postal" class="abm-input-tit">Codigo Postal</label>
                                    <input type="text" name="codigo_postal" id="codigo_postal" placeholder="Codigo Postal" class="abm-input"value="<%=locals.oldData ? oldData.codigo_postal : user.zip_code %>">
                                    <% if(locals.errors && errors.codigo_postal) { %>
                                        <p class="abm-input-error"><%= errors.codigo_postal.msg %> </p>
                                    <% } %>   
                                </div>
                                <div class="abm-input-wrap">
                                    <label for="barrio" class="abm-input-tit">Barrio</label>
                                    <input type="text" name="barrio" id="barrio" placeholder="Barrio" class="abm-input"value="<%=locals.oldData ? oldData.barrio : user.district%>">
                                    <% if(locals.errors && errors.barrio) { %>
                                        <p class="abm-input-error"><%= errors.barrio.msg %> </p>
                                    <% } %>   
                                </div>
                                    <div class="abm-input-wrap">
                                    <label for="ciudad" class="abm-input-tit">Ciudad</label>
                                    <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad" class="abm-input"value="<%=locals.oldData ? oldData.ciudad : user.city%>">
                                    <% if(locals.errors && errors.ciudad) { %>
                                        <p class="abm-input-error"><%= errors.ciudad.msg %> </p>
                                    <% } %>   
                                </div>
                                    <div class="abm-input-wrap">
                                    <label for="provincia" class="abm-input-tit">Provincia</label>
                                    <input type="text" name="provincia" id="provincia" placeholder="Provincia" class="abm-input"value="<%=locals.oldData ? oldData.provincia : user.state%>">
                                    <% if(locals.errors && errors.provincia) { %>
                                        <p class="abm-input-error"><%= errors.provincia.msg %> </p>
                                    <% } %>   
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="abm-button-wrapper"> 
                            <a class="abm-button-cancel address" id="borrarDireccionButon">BORRAR DIRECCIÓN</a>
                            <a href='/admin/inventario-usuarios' class="abm-button-cancel"><i class="fas fa-times"></i> CANCELAR</a>
                            <button type="submit" class="abm-button-submit green-submit"><i class="far fa-save"></i> GUARDAR</button>
                        </div>
                </form>
                
            </div>
            <form action="/admin/<%=user.id%>/borrar-direccion" id="deleteAddressForm" method="post"><input type="text" id="sendAddressId" name="addressid" style="display: none;" value=""></form>
        </section>
    </main>
    <%- include('../partials/bo-footer') %>
    
</body>
</html>