<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/bo-header') %>
            <main>
                <section class="abm-inventory container full-height">
                    <%- include('../partials/bo-nav') %>
                    </div>
                    <div class="abm-inventory-wrapper">
                         <h2 class="abm-title-inv">Suscriptos al Newsletter</h2>

                        <div class="grid-container-newsletter">
                            <div class="grid-item-newsletter abm-title-tit">
                               ID
                            </div>
                            <div class="grid-item-newsletter abm-title-tit">Emails</div>
                            <div class="grid-item-newsletter abm-title-tit">Accion</div>                            
                            <% newsletter.forEach(newsletter=> { %>
                                
                                <div class="grid-item-newsletter checkboxInventario">
                                    <%=newsletter.id%> 
                                </div>
                                <div class="grid-item-newsletter itemInfo">
                                    <%= newsletter.email %>
                                </div>
                                <div class="grid-item-newsletter botonesWrapper">
                                    <form action="/admin/<%= newsletter.id %>/delete-email?_method=DELETE" method="POST">
                                        <input type="submit" class="botonesInventario3" value="Borrar">
                                    </form>
                                </div>
                                
                                <% }) %>
                                
                            </div>
                    </div>
                </section>
            </main>
            <%- include('../partials/bo-footer') %>
    </body>

</html>