<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/bo-header') %>
            <main>
                <section class="abm-inventory container">
                    <%- include('../partials/bo-nav') %>

                    
                    <div class="abm-inventory-wrapper">
                        <h2 class="abm-title-inv">Inventario de Usuarios</h2>
                        <div class="search-crear-wrapper">

                            <form action="/admin/buscar-usuario" method="GET" class="searchInventario">
                                <input type="text" maxlength="256" name="fuckingBug" placeholder="Buscar" class="searchFieldInventario">
                                <button type="submit" class="searchInven__submit"><i class="fa fa-search"></i></button>
                            </form>

                            <a href="/admin/crear-usuario" class="botonesInventarioCrear"> Crear</a>

                        </div>

                        <div class="grid-container">


                            <div class="grid-item abm-input-tit">
                                <label>ID</label><br>
                            </div>
                            <div class="grid-item abm-input-tit">Nombre</div>
                            <div class="grid-item abm-input-tit">Role</div>
                            <div class="grid-item abm-input-tit">Acciones</div>

                            <% users.forEach(user => { %>

                                <div class="grid-item checkboxInventario">


                                    <label for="vehicle1">
                                        <%=user.id%>
                                    </label>
                                </div>
                                <div class="grid-item itemInfo">
                                    <%= user.name %> <%= user.last_name %>
                                </div>
                                <div class="grid-item itemInfo">
                                    <%= user['roles.name'] %>
                                </div>
                                <div class="grid-item botonesWrapper">
                                    <a href="/admin/perfil/<%= user.id %>" class="botonesInventario1">Ver</a>
                                    <a href="/admin/<%= user.id %>/editar-usuario/" class="botonesInventario2">Editar</a>
                                    <form action="/admin/<%= user.id %>/delete-usuario?_method=DELETE" method="POST">
                                        <input type="submit" class="botonesInventario3" value="Borrar">
                                    </form>
                                </div>
                                
                                <% }) %>

                        </div>
                    </div>
                </section>
            </main>
            <%- include('../partials/bo-footer') %>
    </body>

</html>