<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/bo-header') %>
            <main>
                <section class="abm-inventory container">
                    <%- include('../partials/bo-nav') %>
                    <div id="dialogbox" style="display: none">¿Seguro que querés borrar este producto?</div>
                    </div>
                    <div class="abm-inventory-wrapper">
                         <h2 class="abm-title-inv">Inventario de Productos</h2>
                        <div class="search-crear-wrapper">
                            <form action="/admin/buscar-producto" method="GET" class="searchInventario">
                                <input type="text" maxlength="256" name="productSearch" placeholder="Buscar" class="searchFieldInventario">
                                <a href="/admin/inventario-productos" style="text-decoration: none"><i class="fas fa-times submit"></i></a>
                                <button class="searchInven__submit"><i class="fa fa-search"></i></button>
                            </form>
                            <a href="/admin/crear" class="botonesInventarioCrear"> Crear</a>
                        </div>
                        <% if(locals.errors && errors.notFound) { %> 
                            <p class="abm-input-error"><%= errors.notFound.msg %> </p> <br> 
                        <% } %> 
                        <div class="grid-container">
                            <div class="grid-item abm-title-tit">
                                <label>ID</label><br>
                            </div>
                            <div class="grid-item abm-title-tit">Artículo</div>
                            <div class="grid-item abm-title-tit">Recomendado</div>
                            <div class="grid-item abm-title-tit">Acciones</div>

                            <% products.forEach(product=> { %>

                                <div class="grid-item checkboxInventario">
                                    <label> <%=product.id%> </label>
                                </div>
                                <div class="grid-item itemInfo">
                                    <%= product.name %>
                                </div>
                                <div class="grid-item itemRecom">
                                   <% if (product.recommended == 0) { %>NO<% }else{%>SI<%} %>
                                </div>
                                <div class="grid-item botonesWrapper">
                                    <a href="/productos/detalle/<%= product.id %>" class="botonesInventario1">Ver</a>
                                    <a href="/admin/<%= product.id %>/editar" class="botonesInventario2">Editar</a>
                                    <form action="/admin/<%= product.id %>/delete?_method=DELETE" class="<%= product.id%>delete" method="POST">
                                    </form>
                                    <button class="botonesInventario3" id="<%= product.id %>delete" value="Borrar">Borrar</button>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('../partials/bo-footer') %>
            <script src="/javascript/js-front.js" type="text/javascript"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
            <script src="/javascript/dialogbox.js"  type="text/javascript"></script>
    </body>

</html>