<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/bo-header') %>
    <main>
        <section class="abm-productos container">
            <div class="abm-producto-wrapper">
                <h2 class="abm-title">Perfil de Usuario</h2>
                <form action="/admin/<%=user.id%>/editar-usuario" method="GET" class="abm-form-wrapper">
                    <div class="abm-input-container">
                        <div class="abm-input-wrap">
                            <label for="first_name" class="abm-input-tit">Nombre</label>
                            <p><%=user.name %></p>
                        </div>
                        <div class="abm-input-wrap">
                            <label for="last_name" class="abm-input-tit" value="asdsa">Apellido</label>
                            <p><%=user.last_name %></p>
                        </div>
                        <div class="abm-input-wrap">
                            <label for="email" class="abm-input-tit">Email</label>
                            <p><%=user.email %></p>
                        </div>
                        <div class="abm-input-wrap">
                            <label for="role" class="abm-input-tit">Role</label>
                            <p><%= user['roles.name'] %></p>
                        </div>
                        <div class="abm-input-wrap">
                            <label for="password" class="abm-input-tit">Contraseña</label>
                            <p type="password">●●●●●●●●●●●●●●</p>
                        </div>     
                        <!--<div class="abm-input-wrap">
                            <label for="password" class="abm-input-tit"> Repetir Contraseña</label>
                            <input type="password" id="password" placeholder="Contraseña" class="abm-input">
                        </div>-->
                        <div class="abm-input-wrap">
                            <label for="image" class="abm-input-tit">Imagen</label>
                            <p class="foto-perfil foto-margin-right" id=""> <img src="/upload/profile-pictures/<%=user.image %>"  class="bo-profile"></p> 
                        </div>
                        <% if (user['addresses.street'] ) { %> 

                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Calle y numero</label>
                                <p><%= user['addresses.street'] %></p>
                            </div>
                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Departamento</label>
                                <p><%= user['addresses.apartment'] %></p>
                            </div>
                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Codigo Postal</label>
                                <p><%= user['addresses.zip_code'] %></p>
                            </div>
                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Barrio</label>
                                <p><%= user['addresses.district'] %></p>
                            </div>
                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Ciudad</label>
                                <p><%= user['addresses.city'] %></p>
                            </div>
                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Provincia</label>
                                <p><%= user['addresses.state'] %></p>
                            </div>
                        <% } %> 

                    </div>
                    <div class="abm-button-wrap">
                        <button type="submit" class="abm-button-submit">Editar</button>
                    </div>
                </form>
            </div>

    
                </div>
        </div>
                        
        </section>
    </main>
    <%- include('../partials/bo-footer') %>
</body>
</html>