<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/bo-header') %>
    <main>
        <section class="abm-productos container">
            <div class="abm-producto-wrapper">
                <h2 class="abm-title">Perfil de Usuario</h2>
                <form action="/admin/<%=user.id%>/editar-usuario" method="GET" class="abm-form-wrapper">
                    <div class="abm-input-container">
                        <div class="abm-input-wrap">
                            <label for="first_name" class="abm-input-tit">Nombre</label>
                            <p><%= user.name %></p>
                        </div>
                        <div class="abm-input-wrap">
                            <label for="last_name" class="abm-input-tit" value="asdsa">Apellido</label>
                            <p><%=user.last_name %></p>
                        </div>
                        <div class="abm-input-wrap">
                            <label for="email" class="abm-input-tit">Email</label>
                            <p><%=user.email %></p>
                        </div>
                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Role</label>
                                <p><%= user.roles.name %></p>
                            
                        </div>
                        <div class="abm-input-wrap">
                            <label for="password" class="abm-input-tit">Contraseña</label>
                            <p type="password">●●●●●●●●●</p>
                        </div>     

                        <div class="abm-input-wrap">
                            <label for="image" class="abm-input-tit">Imagen</label>
                            <p class="foto-perfil foto-margin-right" id=""> <img src="/upload/profile-pictures/<%=user.image %>"  class="bo-profile"></p> 
                        </div>

                        <% if (user.addresses.length > 0) { %> 

                            <div class="abm-input-wrap selectorAddress" >
                                <label for="image" class="abm-input-tit">Direcciones</label>
                                <select name="address" id="address" class="abm-input">
                                    <% for (let i = 0; i < user.addresses.length; i++) { %>
                                        <option value="<%=user.addresses[i].id%>">
                                            <%=user.addresses[i].street %> <%=user.addresses[i].apartment %> <%=user.addresses[i].district %> <%=user.addresses[i].city %> <%=user.addresses[i].zip_code %> <%=user.addresses[i].state %>
                                        </option>
                                        <%}%>
                                </select>
                                <% if (locals.errors && errors.address) { %>
                                    <p class="abm-input-error"><%= errors.address.msg %></p>
                                <% } %> 
                            </div>

                        <% } %> 

                    </div>
                    <div class="abm-button-wrapper">
                        <a href='/admin/inventario-usuarios' class="abm-button-cancel"><i class="fas fa-times"></i> CANCELAR</a>
                        <button type="submit" class="abm-button-submit botonesInventario2"><i class="far fa-save"></i> EDITAR</button>
                    </div>
                </form>
            </div>

    
                </div>
        </div>
                        
        </section>
    </main>
    <%- include('../partials/bo-footer') %>
</body>
</html>