<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="abm-productos container">
            <div class="abm-producto-wrapper">
                <h2 class="abm-title">INICIAR SESIÓN</h2>

                
                <form action="/usuarios/inicio" class="abm-form-wrapper" method="POST">
                    <div class="abm-input-container">
                        <div class="abm-input-wrap">
                            <label for="name" class="abm-input-tit">Usuario</label> 
                            <input type="text" id="name" name="name" placeholder="Usuario" class="abm-input" value="<%= locals.email ? locals.email : '' %><%= locals.old && old.name ? old.name : '' %>"> 

                            <% if (locals.errors && errors.name) { %>
                                <p class="abm-input-error"><%= errors.name.msg %></p>
                            <% } %>
  
                        </div>
                        <div class="abm-input-wrap">
                            <label for="password" class="abm-input-tit">Contraseña</label>
                            <input type="password" id="password" name="password" placeholder="Contraseña" class="abm-input" value="<%= locals.old && old.password ? old.password : '' %>">

                            <% if (locals.errors && errors.password) { %>
                                <p class="abm-input-error"><%= errors.password.msg %></p>
                            <% } %>
   
                        </div>      
                    </div>
                    <div class="abm-button-wrap">
                        <div class="checkbox-login-wrap">

                           
                        <input type="checkbox" id="remember" name="remember" class="checkbox-login-input">
                                    <label for="remember"> Recordar usuario </label> 
                                    <a href="/usuarios/registro" class="nuevoRegistro">¿No tenes una cuenta?</a>
                        </div>

                        <button type="submit" class="abm-button-submit" id="abm-button-submit-login">CONTINUAR</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/javascript/js-front.js" type="text/javascript"></script>

</body>
</html>