<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="abm-productos container">
            <div class="abm-producto-wrapper">
                <h2 class="abm-title">Login</h2>

                
                <form action="/usuarios/inicio" class="abm-form-wrapper" enctype="multipart/form-data" method="POST">
                    <div class="abm-input-container">
                        <div class="abm-input-wrap">
                            <label for="name" class="abm-input-tit">Usuario</label> 
                            <input type="text" id="name" name="name" placeholder="Usuario" class="abm-input" value="<%= locals.old && old.name ? old.name : '' %>">

                            <% if (locals.errors && errors.name) { %>
                                <p class="abm-input-error"><%= errors.name.msg %></p>
                            <% } %>
  
                        </div>
                        <div class="abm-input-wrap">
                            <label for="password" class="abm-input-tit">Contraseña</label>
                            <input type="password" id="password" name="password" placeholder="Contraseña" class="abm-input" value="<%= locals.old && old.password ? old.password : '' %>">

                            <% if (locals.errors && errors.password) { %>
                                <p class="abm-input-error"><%= errors.password.msg %></p>
                            <% } %>
   
                        </div>      
                    </div>
                    <div class="abm-button-wrap">
                        <button type="submit" class="abm-button-submit">GUARDAR</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>