<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="abm-inventory container">

                    <h2 class="abm-title-inv">Perfil de Usuario</h2>

                    <div class="abm-inventory-wrapper wrapper-perfil-de-usuario">

                        <div class="wrapper-de-dos-perfil-de-usuario">

                        <div class="items-wrapper-perfil-de-usuario">
                        <div class="abm-input-tit">Nombre </div>
                        <p class="perfil-de-usuario-item"> <%= locals.user.first_name %> <%= locals.user.last_name %></p> 

                        </div>
                        <div class="items-wrapper-perfil-de-usuario">
                        <div class="abm-input-tit">Imagen</div>
                        <p class="perfil-de-usuario-item"> <img src="/upload/profile-pictures/<%= locals.user.image %>"  class="bo-profile"></p> 

                    </div>

                    </div>

                    <div class="wrapper-de-dos-perfil-de-usuario">
                        <div class="items-wrapper-perfil-de-usuario">
                        <div class="abm-input-tit">Email</div>
                        <p class="perfil-de-usuario-item"> <%= locals.user.email %></p> 
                        </div>

                    </div>
                        
                    <form action="/usuarios/editar" class="perfil-de-usuario-editar"><button type="submit" class="perfil-de-usuario-editar">Editar</button></form> 
                        <form action="/usuarios/logout" class="perfil-de-usuario-editar"><button type="submit" class="perfil-de-usuario-editar">Logout</button></form> 

                        </div>

                        


                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>