<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="abm-productos container">
            <div class="abm-producto-wrapper">
                <h2 class="abm-title">Perfil de Usuario</h2>
                <form action="/usuarios/editar" method="GET" class="abm-form-wrapper">
                    <div class="abm-input-container">
                        <div class="abm-input-wrap">
                            <label for="first_name" class="abm-input-tit">Nombre</label>
                            <p><%= user.name %></p>
                        </div>
                        <div class="abm-input-wrap">
                            <label for="last_name" class="abm-input-tit" value="asdsa">Apellido</label>
                            <p><%=user.last_name %></p>
                        </div>
                        <div class="abm-input-wrap-email">
                            <label for="email" class="abm-input-tit">Email</label>
                            <p><%=user.email %></p>
                        </div>
                        <div class="abm-input-wrap">
                            <label for="password" class="abm-input-tit">Contraseña</label>
                            <p type="password">●●●●●●●●●</p>
                        </div>     
                        <!--<div class="abm-input-wrap">
                            <label for="password" class="abm-input-tit"> Repetir Contraseña</label>
                            <input type="password" id="password" placeholder="Contraseña" class="abm-input">
                        </div>-->
                        <div class="abm-input-wrap">
                            <label for="image" class="abm-input-tit">Imagen</label>
                            <p class="foto-perfil foto-margin-right" id=""> <img src="/upload/profile-pictures/<%=user.image %>"  class="bo-profile"></p> 
                        </div>
                        <% if (user.address_id) { %> 

                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Calle y numero</label>
                                <p><%= user.street %></p>
                            </div>
                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Departamento</label>
                                <p><%= user.apartment %></p>
                            </div>
                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Codigo Postal</label>
                                <p><%= user.zip_code %></p>
                            </div>
                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Barrio</label>
                                <p><%= user.district %></p>
                            </div>
                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Ciudad</label>
                                <p><%= user.city %></p>
                            </div>
                            <div class="abm-input-wrap">
                                <label for="role" class="abm-input-tit">Provincia</label>
                                <p><%= user.state %></p>
                            </div>
                        <% } %> 
                    </div>
                    <div class="abm-button-wrap">
                        <button type="submit" class="abm-button-submit"><i class="far fa-save"></i> EDITAR</button>
                    </div>
                </form>
            </div>

    
                </div>
        </div>
                        
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>